<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="adams_creatures"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" @C:\\Users\\adami.DESKTOP-3IM5UMR\\MCreatorWorkspaces\\adams_creatures\\build\\moddev\\serverRunProgramArgs.txt"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" @C:\\Users\\adami.DESKTOP-3IM5UMR\\MCreatorWorkspaces\\adams_creatures\\build\\moddev\\serverRunVmArgs.txt -Dfml.modFolders=testproject%%C:\\Users\\adami.DESKTOP-3IM5UMR\\MCreatorWorkspaces\\adams_creatures\\bin\\main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\adami.DESKTOP-3IM5UMR\MCreatorWorkspaces\adams_creatures\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>